// Place all the styles related to the Texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
  // border 2px;
  // border: 1px #ff0000 solid;
  border: 1px #6495ED solid;
}

#main_menu {
  // background: yellow;
  
}

#main_menu li {
  list-style: none;
  float: left;
}

#main_menu li a {
  display: block;
  margin: 0 10px 0 0;
}

#main_menu li a:hover {
  background: yellow;
  color: black;
}

#main_menu div {
  visibility: hidden;
}
